.about-container {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-content {
  padding-top: 2%;
}

.about-chat h2 {
  font-size: 2em;
  border-bottom: 2px solid #f9ba30;
  padding-bottom: 5px;
}

.sign img {
  filter: brightness(0) invert(1);
}

.profile-image img {
  max-width: 20%;
  opacity: 0.8;
  border-radius: 10px;
  border: 1px solid #f9ba30;
  transition: 0.5s;
}

.profile-image img:hover {
  opacity: 1.0;
}
