.about-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.about-photo img {
  max-width: 20%;
}

.about-content {
  padding-top: 2%;
}

.about-chat h2 {
  font-size: 2em;
  border-bottom: 2px solid #e973a7;
  padding-bottom: 5px;
}

.sign img {
  filter: brightness(0) invert(1);
}
