.art-container {
  position: absolute;
  top: 25%;
  width: 95%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-bottom: 15%;
}

.piece-container {

}

.artwork {
  padding: 5%;
}

.artwork img {
  max-width: 90%;
  box-shadow: 5px 6px 10px #f9ba30;
}
