
/* blog container component divs */

.blog-container {
  position: absolute;
  top: 25%;
  width: 95%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-bottom: 15%;
}

/* blog component divs */

.post-container {
}

.post-content h2 {
  width: fit-content;
  border-bottom: 2px solid #f9ba30;
  margin: 10px auto;
  padding: 1%;
}

.post {
  padding: 5%;
  border: 0.5px solid #FFFFFF;
  margin: 5%;
}

.post img {
  max-width: 50%;
}

.post a:hover {
  cursor: pointer;
}
