.contact-form {
  width: 100%;
  padding-top: 5%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.contact-input {
  display: flex;
  flex-direction: column;
  font-family: 'Caviar Dreams', sans-serif;
  font-size: 0.8em;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #f9ba30;
  padding: 10%;
  transition: 0.4s;
}

.contact-input::placeholder {
  color: #FFFFFF;
}

.contact-input:focus {
  outline:none;
}

.contact-intro {
  padding-top: 2%;
}

.input-button input {
  padding: 10%;
  font-size: 0.8em;
  font-family: 'Caviar Dreams', sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  margin-top: 5%;
  border: none;
  transition: 0.4s;
  border-bottom: 0.5px solid #f9ba30;
}

.input-button input:hover {
  box-shadow: 2px 2px 8px 2px #f9ba30;
}
