.footer-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  padding-top: 2.5%;
  width: 100%;
  background: rgb(84,191,193);
  z-index: 1;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  padding: 0;
}

.footer-button button {
  display: flex;
}

.footer-button button:hover {
  background-color: #f9ba30;
}

.footer-button button a {
  transform: none;
}

.social-links {
  display: flex;
  margin: auto;
}

.social-links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  padding: 0;
}

.social-links ul li {
  padding: 0px 20px 0px;
}

.social-links ul li a {
  transition: 0.4s;
}

.social-links ul li a:hover {
  transform: scale(1.5);
  border: 0.8px solid #f9ba30;
  border-radius: 20px;
  padding: 10px;
}



@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .footer-links {
      font-size: 0.8em;
    }

    .social-links ul li a {
      color: #f9ba30;
    }
  }
