.footer-container {
  position: fixed;
  width: 100%;
  bottom: 2.5%;
}

.social-links {
  position: fixed;
  bottom: 0;
  right: 0.5%;
}

.social-links ul {
  list-style: none;
  text-align: right;
  padding: 0;
}

.social-links ul li {
  padding: 20px;
}

.social-links ul li a {
  transition: 0.4s;
}

.social-links ul li a:hover {
  transform: scale(1.5);
  border: 0.8px solid rgb(84,191,193);
  border-radius: 20px;
  padding: 10px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .footer-links {
      font-size: 0.8em;
    }
  }
