.home-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.home-buttons {
  display: inline-flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: center;
}

.site-button {
  display: inline-flex;
}

.site-button button:first-child {
  margin-right: 10%;
}
