html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  background: rgb(84,191,193);
}

.container {
  display: inline-flex;
  max-width: 85%;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  padding-bottom: 30%;
}

.container:hover {
  cursor: default;
}

.title h2 {
    width: fit-content;
    margin: auto;
    font-size: 2em;
    border-bottom: 2px solid #f9ba30;
    padding-bottom: 5px;
}
