@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('./fonts/caviardreams-webfont.woff2') format('woff2'),
         url('./fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: 'caviar_dreamsregular', sans-serif;
  text-align: center;
  }

a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'caviar_dreamsregular', sans-serif;
  transition: 0.4s;
  cursor: default;

}

a:hover {
  transform: scale(1.3);
  cursor: default;
}

button {
  padding: 5px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  transition: 0.5s;
  }

button a {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
